[2021-09-15 16:24] Messhias opened #2 "Suggestion documentation"
As we forked this package from Tumondesigns we need to give him the credits in the default readme.MD and remove the wiki that he created and create on our own (it's not fair we use his stuff to our benefit).

Suggestion from my side:

1 - let's create a new readme. MD.
2 - create a new wiki of documentation (might be will be necessary 1 - 2 people working on that to keep it up as maximum posted).

[2021-09-16 10:31] eschricker commented on #2
I have added a posting in the discussions area about how we could start: https://github.com/PHP-Open-Source-Saver/jwt-auth/discussions/1
I thought that the discussion on how to proceed would be better served there. I would use the issues for problems/feature requests and discussions to coordinate work. But we can also use the issues for both. I'm fine with this.

I think your points are very good.

[2021-09-16 20:19] Messhias commented on #2
1 - About the documentation:
I believe for better continuous integrations and reliability of the documentation is for us to keep it as a Github wiki or readme markdowns, not a website.

Since this is an open-source package and I expect in the future we have a lot of maintainers we can keep it up posted in a single source of everything it'll be easier.

2 - About the dependency:

Yes, we need to ch

[2021-09-17 10:07] eschricker commented on #2
1 - Documentation:
I think it's better to have the documentation as markdown documents, so that you able to access it locally if needed. Additionally the history of the documentation is preserved.

2 - Dependency
I have contacted the support. The dependency should be removed in a while.

3 - Packagist
I don't have any experience with publishing on packagist. Do you have any experience in this fiel

[2021-09-17 10:48] Messhias commented on #2
1 - Sure, let's keep going at this, let's wait for fork dependency to be removed.
2 - Let's wait.
3 - Me too, I usually collaborate, but anyway even I was experiencing that only the owner of the organization should register the package.

[2021-09-17 10:59] eschricker commented on #2
So I just got the message, that the dependency has been removed.

Then I will have a look how to publish on packagist :)

I will open new issues for the different tasks. Feel free to extend if there are any information missing.

[2021-09-17 11:02] eschricker opened #3 "Change the namespace"
The namespace should be changed from `Tymon` to something new.

In my opinion PHPOpenSourceSaver would be a bit long. Probably PHPOSS would be better. Feel free to post your ideas.

[2021-09-17 11:04] eschricker opened #4 "Update the readme"
The readme needs to be updated. It needs to give credit to the origin repository.

Have a look at the first part of this posting:
https://github.com/PHP-Open-Source-Saver/jwt-auth/issues/2#issuecomment-921216570

[2021-09-17 11:07] eschricker opened #5 "Recreate documentation"
The documentation needs to be recreated. It lacks of a lot information. Probably example projects with laravel and lumen would be very helpful to see, how the library can be integrated.

First we need to define a new structure for the documentation. Proposals are welcome

[2021-09-17 12:57] Messhias commented on #2
Great, before see how to publish the package, we need to change all the namespacing.

[2021-09-21 07:33] eschricker commented on #3
@Messhias I have changed the namespace and created a pull request. I have added you as reviewer :)

[2021-09-21 09:28] Messhias commented on #3
I just. saw it, but I cannot merge it unfortunately :(

[2021-09-21 09:37] eschricker commented on #3
@Messhias Can you check https://github.com/PHP-Open-Source-Saver/jwt-auth/invitations if you had accepted the invitation? Additionaly I have added you as member, without the team. Probably you need to relogin into github to get it work.

[2021-09-21 09:40] Messhias opened #9 "Stop token blacklisted exception."
### Subject of the issue
Always keep throwing token blacklisted on logout application

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | yes
| Framework         | Laravel / Lumen
| Framework version | newest
| Package version   | newest
| PHP version       | newest

### Steps to reproduce
Just log out of your application.

### Ex

[2021-09-21 09:41] Messhias commented on #5
For me to be honest, GitHub pages it's enough, just keep it updated, and everything it'll be fine.

[2021-09-21 09:44] Messhias commented on #3
I took a look right now and it's showing me as "admin", I'll give it a try
to login again.

*Best Regards,*

*Fabio William Conceição*

*Remote: https://remote.com/fabiowilliam <https://remote.com/fabiowilliam>*
*Tel/Whastapp: +351 93 212 1477*
*Skype: fabioo.william.conceicao*
*LinkedIn:
https://www.linkedin.com/in/fabio-william-concei%C3%A7%C3%A3o-379b9823/
<https://www.linkedin.com/in/fabio-wil

[2021-09-21 09:44] #3 closed

[2021-09-21 09:46] Messhias opened #10 "3 illuminate/database vulnerabilities found in composer.json 39 seconds ago"

[2021-09-21 09:52] Messhias opened #12 "Fix unit tests failing"
### Subject of the issue
Units tests after fetched the upstream are breaking.

Screenshoot for reference:
![Screenshot 2021-09-21 at 10 51 56](https://user-images.githubusercontent.com/1161283/134150389-6a9efc34-eac5-4416-be9b-88f315d1e4b7.png)

[2021-09-21 11:17] #10 closed

[2021-09-21 11:34] #12 closed

[2021-09-21 14:37] Messhias commented on #2
@eschricker did you registered the package in packist to we start using it at our projects?

[2021-09-21 14:43] eschricker commented on #2
I just registered the package :)

https://packagist.org/packages/php-open-source-saver/jwt-auth

When the pull requests are alle merged, I am going to release a first new version.

[2021-09-21 14:45] #4 closed

[2021-09-21 14:51] Messhias commented on #2
Ok, so let's finish those merges to try release this package at least by the end of the month.

[2021-09-21 14:59] #9 closed

[2021-09-21 17:41] Messhias commented on #2
Regarding the luccobuci and my, the others ones need to check one by one because not everything wrote down PR's and there's a lot PR's already :(

[2021-09-21 17:42] Messhias commented on #2
What I think is good for us to do is go there and let them more people are working to keep the package going forward and they start contributing here too.

[2021-09-23 11:42] alistair-soreal opened #15 "Any chance of a tagged release for PHP 8 support?"
Hi there

Thanks for your great work in getting this package modernized, do you have a tagged release coming out as I can't really use dev-develop as a security policy, I've forked for now but would like to stay current with they work you are doing in the future.

Many thanks!

[2021-09-23 12:43] Messhias commented on #15
Hi, we forked the package and we're keeping it updated you can use our and put your thoughts, issues, PR's and we're checking it daily basis.

We're checking the actual opened PR's on the original fork to see what we can migrate or not, for now, we're trying to work to release a new version at the master by the end of the month, but since now only I and @eschricker is working on that, if you want

[2021-10-07 22:21] IlyaVorozhbit commented on #15
@Alrod8901 it seems the author hasn't answering for a couple of weeks. It is very sad

[2021-10-08 10:29] djereg commented on #15
It wouldn't be bad that when you forked the repository and changed all the important things (like the nemaspaces), then release 1.0.0 because the package works perfectly.  And after the successfully migrated and merged pull request you release another versions. Because impatient people can’t wait. I'm one of them 😄

Not safe, but currently I use dev-develop, because as I said, it's a working packa

[2021-10-08 11:23] IlyaVorozhbit commented on #15
Why just not use https://github.com/tymondesigns/jwt-auth/pull/2117 this PR?

[2021-10-13 12:24] Messhias opened #30 "Token could not be parsed from the request"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | maybe
| Framework         | Laravel / Lumen
| Framework version | 8.x
| Package version   | current
| PHP version       | 8.x

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behavior
Try to put somethin

[2021-10-21 08:33] Messhias opened #35 "Create a package version PHP >=8"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | no
| New Feature?      | yes
| Framework         | Laravel / Lumen
| PHP version       | >=8.x

### Propose changes

The package has some legacy code and some standards don't match with new versions of the PHP. We need to start the migration of the actual

[2021-10-21 09:56] Messhias opened #36 "JWTAuth deprecated?"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              | ?
| New Feature?      | ?
| Framework         | Laravel / Lumen

<img width="728" alt="Screenshot 2021-10-21 at 10 54 47" src="https://user-images.githubusercontent.com/1161283/138254900-db917349-57e3-4b6d-b24a-312daee60101.png">

As the screenshot is sho

[2021-10-30 06:57] reinos opened #39 "Personal access token"
Hi there!

Currently working with this library and it works great!

However, I got a question related to access tokens.

I have setup lumen as API/BE server. React as FE lib that is using username/email and password to get an JWT token.
However, I have another app running, that push data to one end point. I want to use an generated key (access token) by the user for this app (that also can be revo

[2021-10-31 19:31] Messhias commented on #39
What I suggest is you cache/store this token, because the claims of the token depend on the domain + sub domain, so each domain + claims is unique.

Might be the technique that you could use is always when you try to re-use token or something like in different domain and claims ns "login again" the same user on the new domain, but you need know very well how to control the flow.

[2021-11-01 13:31] Messhias commented on #39
@reinos

[2021-11-01 13:34] Messhias commented on #30
@eschricker do you think is worth keeping throwing this exception, I'm the kind of guy who likes exceptions but it is on logs and just no stopping the application works but there are some exceptions it's necessary to be thrown because it destroys the rest of the exception of the application.

What do you think? Might be it's better to close this issue and keep it as it is?

[2021-11-01 13:35] Messhias commented on #35
@eschricker do you have an idea how can version this? Because if we release at packist of the main version could break the others packages.

I believe it's more healthy just to keep the version to PHP 7+ just for more than 1 year or 1 year and a half maximum considering the speed of the updates of the PHP.

[2021-11-02 08:27] eschricker commented on #35
I would suggest to just support PHP 7.4 because 7.3 is ending security support next month.

Over the next year we should update the code base to PHP 8.

I don't know if there is any advantage if we provide earlier a PHP 8-package. I believe it's harder to support two versions at the same time.

[2021-11-02 08:46] eschricker commented on #30
I was not able to reproduce the issue. When I use something other like `Bearer <token>` or nonsense as token, I directly get the message 'Unauthorized' from the `Authenticate`-middleware.

I think exceptions should not be populated to the outside. If the token could not be parsed, the check if the tokens are valid should always return false. So it would be good to catch the exception and return fa

[2021-11-02 10:31] Messhias commented on #35
Yes, that's true and makes sense, for now, I'll close with this comment and next year let's back to the subject.

[2021-11-02 10:31] #35 closed

[2021-11-02 13:16] leon0399 opened #40 "Drop support for older Laravel and PHP versions"
Dropping support for older versions will allow to make this package more secure and easier to use at the same time.

I don't think, that those, who use these old versions are willing to update only JWT package

Since 8.x is the only supported version, and even 6.x (LTS) is also dropped it's support, we can leave only latest versions (^8) and PHP 7.3+

[2021-11-02 13:18] Messhias commented on #40
Me and @eschricker we talked about that in the slack channel to drop it, but we need to refactor some code also to be compatible with 7.3+ versions.

Do you want to open the PR to drop the versions?

Thank you,

[2021-11-02 13:44] leon0399 commented on #40
Yes, I'll try to find my time updating this project this weekend!

[2021-11-03 15:37] mfn opened #41 "Security contact should be changed"
### Subject of the issue
It currently still points to the email address from the original fork.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes

[2021-11-03 15:49] Messhias commented on #41
Hi @mfn , where did you see it?

[2021-11-03 16:48] mfn commented on #41
@Messhias sorry, thought it was obvious, but absolutely correct: some more specifics would be good!

Directly on https://github.com/PHP-Open-Source-Saver/jwt-auth:
![image](https://user-images.githubusercontent.com/87493/140105351-5c977152-06fb-47da-8c7b-b4da7493e971.png)

[2021-11-03 17:16] Messhias commented on #41
Hi, we didn't figure out that, passed by us.

But I remembered right now I talked before with @eschricker about not totally removal the tymons since he was the creator of the package and we keep some credit to him.

If you want to open a PR to remove his email (but keep the credits to him) and remove the security guidelines and put support guidelines for opening the issue links.

Do you think in t

[2021-11-03 20:03] mfn commented on #41
I think my point is: the security email should be vetted and clearly accessible by the core maintainers.

Since I don't know the details, I assumed that this email being form the original project, is as unread/maintained as the original project, thus it would be hurtful for the project if someone came forward reporting a serious issue at thatthe email address and none of the active maintainers kno

[2021-11-03 20:22] Messhias commented on #41
I believe your point is very valid and we must take it forward.

@eschricker what do you think about we create a shared email for security responses or crisp support or something like that?

@mfn what do you suggest? I believe we should not have only one email in hands of just one or 2 or even 3 persons, those security concerns should be shared with maintainers with most transparency as possible,

[2021-11-03 20:42] mfn commented on #41
To me this sounds good 👍🏼

[2021-11-04 10:03] Messhias commented on #41
The PR is opened at #43

[2021-11-04 10:04] #41 closed

[2021-11-04 10:20] mfn commented on #41
Awesome 👍🏼

[2021-11-05 01:32] rohrig opened #44 "Logout / invalidation not working as expected"
### Subject of the issue
Logout doesn't appear to work. Or am I missing something. I would assume after logout, an attempt to retrieve the user with the same token would result in an "unauthorized" response. But I can still get the user with the same token after logging out (hence, valid token).

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| Ne

[2021-11-15 08:34] Sergiobop opened #48 "Token has expired bug after removing 'exp' from required_claims"
### Subject of the issue

I'm using this package in a production app, where token duration specs have changed. Now the tokens should never 'expirate', but the previous generated tokens should be valid too. I get the following error after updating my configuration and remove 'exp' from required claims (ttl and refresh_ttl set to null too):
"Token has expired"

### Your environment
| Q

[2021-11-15 10:28] Messhias commented on #48
In fact, in the past, I was talking about @eschricker about the exhausting exceptions of the application and this is was one of my cases.

Might instead we keep throwing exceptions would be better just return false to keep the systems running?

[2021-11-17 10:01] eschricker commented on #40
We discussed the support for versions here https://github.com/PHP-Open-Source-Saver/jwt-auth/pull/29#issuecomment-960626077

TLDR: 6.x is supported till September 2022, 7.x is out of support, 8.x is supported till January 2023.

With the last release 1.2.0 we dropped the support for Laravel 5, but we keep the support for 6, 7 and 8

[2021-11-17 10:02] eschricker commented on #44
Please try the new release 1.2.0 and set the variable JWT_SHOW_BLACKLIST_EXCEPTION to true.

[2021-11-17 11:28] Messhias commented on #44
@rohrig this issue persist?

If in a week we didn't hear back from you we'll close it and mark it as solved.

[2021-11-17 11:30] Messhias commented on #40
@leon0399 I guess as @eschricker told you concerning #29  , I believe we can close this thread. Shall we?

[2021-11-17 16:54] leon0399 commented on #40
Regarding Laravel versions - understandable

But latest versions of `lcobucci/jwt` requires PHP ^7.4, so there is no reason to keep PHP version lower

[2021-11-17 16:56] Messhias commented on #40
Yes, but this is just one package, there are other packages that compose the whole library that should be taken into consideration too.

[2021-11-18 21:12] leon0399 commented on #40
It would'vemade sense, if it was optional dependency. But rigth now trying to install this package on PHP 7.2 fails with given error:

[code]

We should decide, either we make both `lcobucci/jwt` and `namshi/jose` optional dependencies by moving them to `suggest` section. Or leave them as is and update base language version

[2021-11-19 16:47] leon0399 commented on #40
Unfortunately, it wasn't auto-closed when #52 was merged. Should we close it now?

[2021-11-19 16:55] leon0399 opened #53 "Dispatch auth events"
### Subject of the issue

There is an old and long-awaited (by me, personally) [issue](https://github.com/tymondesigns/jwt-auth/issues/886) regarding [Auth events](https://laravel.com/docs/8.x/authentication#events). I would love to finally implement this features. It not only provide parity between traditional auth and JWT auth, but also, in my case, will help to create authentication audit logs

[2021-11-19 18:08] Messhias commented on #53
Nice, thanks for your opened feature request, but just to clarify: are you going to implement or you're requesting someone can implement the feature?

[2021-11-20 00:11] leon0399 commented on #53
Yeah, I'm going to implement it

[2021-11-20 00:22] leon0399 commented on #30
It can be reproduced, but only when using package-provided middlewares, which are deprecated.

We need to decide:

1) Do we fix these middlewares and keep them deprecated
2) We don't change anything and just keep middlewares as-is and just close issue
3) Do something other (I, personally, can see some of the middlewares useful, e.g. I use `token.refresh'` for my JWT refresh route, to keep tokens s

[2021-11-20 00:32] leon0399 opened #54 "Make documentation on how to migrate from original repository"
Since this library do not use the same namespace, we need to provide a documentation what changes are required to replace [original package](https://github.com/tymondesigns/jwt-auth) with this one, to make migration for new users clearer

[2021-11-20 00:57] leon0399 opened #55 "Unwanted and very strict dependency `illuminate/database`"
### Subject of the issue
Describe your issue here.

### Your environment
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel / Lumen
| Framework version | any
| Package version   | 1.2.y
| PHP version       | 7.2+

### Information

`composer.json` has an unneccesary dependency of `illuminate/database` with very strict

[2021-11-20 01:45] leon0399 opened #57 "Prepare for PHP 8.1"
PHP 8.1 is just a week away, so we need to be sure, that package is ready to be used with this version

First, I suggest updating Github Actions pipeline adding `8.1` release-candidate to test matrix

Would love to hear everyone else's ideas

[2021-11-22 07:48] eschricker commented on #55
The very strict dependency was added due to dependabot security alerts. But when the dependency is not used, I totally agree to remove it

[2021-11-22 07:49] #57 closed

[2021-11-22 09:55] leon0399 commented on #53
Turns out, I was blind, and it waws already blinded, and I completely missed it! 😃 Closing!

[2021-11-22 09:55] #53 closed

[2021-11-22 10:34] Messhias commented on #36
I already removed the @deprecated tag from the code.

Issue closed.

[2021-11-22 10:34] #36 closed

[2021-11-22 10:35] Messhias commented on #44
Due to inactivity, we'll close this issue.

[2021-11-22 10:35] #44 closed

[2021-11-22 10:35] Messhias commented on #2
Just update on the thread @leon0399 is helping us with the documentation.

[2021-11-22 10:36] Messhias commented on #5
Discussion moved to #2

[2021-11-22 10:36] #5 closed

[2021-11-22 10:36] Messhias commented on #39
Due to inactivity, we'll close this issue.

[2021-11-22 10:36] #39 closed

[2021-11-22 10:37] Messhias commented on #40
Sure.

Merged at #52.

[2021-11-22 10:37] #40 closed

[2021-11-22 10:38] Messhias commented on #48
@Sergiobop we release a new version some days ago, are you still experiencing this issue?

[2021-11-22 10:38] Messhias commented on #48
@Sergiobop

[2021-11-22 10:39] Messhias commented on #54
@leon0399 let's keep this discussion at #2.

In one thread will be easier.

[2021-11-22 11:01] Sergiobop commented on #48
I will check and answer you asap.
Thanks

[2021-11-23 09:55] #55 closed

[2021-11-23 11:10] #54 closed

[2021-11-23 11:25] leon0399 commented on #2
For documentation deployment, I think Github's Wiki isn't great solution, since documentation should be versioned. Personally, I think it would be great to use Pages for deployment, and some tools like MKDocs, Vuepress or Docsify

[2021-11-23 12:11] Messhias commented on #2
You're right, we should put this on the road map, can you open an issue for us to open in the roadmap?

[2021-11-23 13:24] leon0399 opened #61 "Deploy documentation"
Right now we have documentation in `docs/` folder. Having it only there is inconvenient, since there is no navigation, and pages order of pages is broken (it cannot be used as some kind of "tutorial"). So we need to build it to HTML and deploy somewhere

## Build tools

| Tool | Ease of documenting | Extra tooling needed | Versioning support |
| :--- | :---| :---| :---|
| MKDocs | Very easy | No |

[2021-11-23 13:24] leon0399 commented on #2
Don't think we need special issue for documentation roadmap. I see our current steps following:

- [ ] Find our way to deploy *current* documentation somewhere (https://github.com/PHP-Open-Source-Saver/jwt-auth/issues/61)
- [ ] Update existing documentation to fill missing gaps and new features

[2021-11-23 13:25] leon0399 commented on #61
If you have other tools in mind, feel free to add them!

[2021-11-23 13:32] Messhias commented on #61
What we could do is create another repository just for this proposal and use github ci to deploy it (if it's free).

What do you think about Vercel apps?

Thank you,

[2021-11-23 13:39] leon0399 commented on #61
That's would require updating multiple respositories to develop new feature.

----------------------------

Tools like Vercel and Netlify are great, and I use them a lot.
But for our purposes I don't think they are fitting, I see them combining all cons from list above: will require an extra maintaining for external services, and we will need to find our way to version documentation

[2021-11-23 14:12] Messhias commented on #2
To quickstart, we should use the same model of the tymons documentation because some stuff is already done and documented out there, so I don't see why we should rewrite it.

And might be for new PR for new features that would be usable by the programmer we should add it straight to documentation too.

[2021-11-23 14:18] leon0399 commented on #61
@Messhias as you sad [here](https://github.com/PHP-Open-Source-Saver/jwt-auth/issues/2#issuecomment-976593688), we should start at the same place, where Tymon left it, so using Read th Docs is the way. I can setup project there and find some great domain, then share ownership, if someone will add me as a collaborator to the repository

[2021-11-23 14:43] Messhias commented on #61
@eschricker can you add @leon0399?

I tried here but I didn't find a way to do it, might be because you are the owner and creator of the organization.

[2021-11-23 16:35] leon0399 commented on #61
@eschricker thank you! I've sent a request to authorize `Read the Docs Community` app access repository. It requests access reaad projects for documentation deployment

[2021-11-23 19:29] Messhias commented on #61
My username is `messhias`.

[2021-11-23 21:04] mfn commented on #61
👍🏼 for readthedocs; I see so many OSS projects there, also includes search out of the box

[2021-11-23 21:32] mfn opened #64 "Regarding the docs: should we add an explicit text banner to mention / clear up differences to the existing jwt-auth?"
Now that https://laravel-jwt-auth.readthedocs.io/ is up, it might be confusing what this is related to https://jwt-auth.readthedocs.io/

Would it make sense to add an paragraph right on the first page to describe the difference? Maybe this would be a good place to also link to https://github.com/PHP-Open-Source-Saver/jwt-auth#migrating-from-tymondesignsjwt-auth (FWIW, I prefer having the migration

[2021-11-23 21:38] leon0399 commented on #64
Yeah, looks great! I think adding this information to the homepage of documentation is the way. Anyway, it looks very empty now 😄

[2021-11-23 21:54] Messhias commented on #64
Yes, we should keep this section in the documentation because most of the users (to not say 100% hahahahha) came from the old package, so let's keep it.

[2021-11-23 22:55] leon0399 commented on #64
Shouldn't we move it to discussions?

[2021-11-24 07:35] eschricker commented on #61
Access was granted :+1:

[2021-11-24 07:39] eschricker commented on #61
My username is `eschricker`

[2021-11-24 08:31] #64 closed

[2021-11-24 08:37] leon0399 opened #66 "Provide changelog"
Right now we have releases for original package releases, but no changelog is available for new tags ([1.1.0](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/1.1.0), [1.1.1](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/1.1.1), [1.2.0](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/1.2.0)).

We need to provide at least some changelog on new features

[2021-11-24 09:17] Messhias commented on #66
When we create tags there's an auto-generate changelog, if someone wants to see the changelog can enter it in the release.

What we could do that would be nicer is try to pull those changelogs in the main page of documentation as PHP does and others languages.

[2021-11-24 09:33] leon0399 commented on #66
Yes, but there is only one release here: https://github.com/PHP-Open-Source-Saver/jwt-auth/releases

What I mean, is that we can provide changlelog just like in that single release, where changes are stated in few sentences, that there is no need to navigate through diffs to find out what's changed

[2021-11-24 09:40] Messhias commented on #66
In that case, there's no way to pull those releases automatically like those pages of languages do?

[2021-11-24 10:00] leon0399 commented on #66
There is some kind of automation, but need to re-check it manually. I'll save it as a draft for now
![image](https://user-images.githubusercontent.com/1759654/143216723-c391726e-23c3-42d0-886f-18c68b9621b8.png)

[2021-11-24 11:07] mfn commented on #66
- I love changelog
- I hate the autogenereated ones, even the one from github

**To me** a changelog should be a clear useful information for the "end user developer". I don't need to mention every change under the sun, especially stuff like source code formatting, adaption of the tests, each and every step when we improved the docs, etc. This is useless noise to me.

TL;DR: I vote for a manually

[2021-11-24 14:51] leon0399 opened #68 "Duplicate GitHub Actions"
Pushing to the repo directly (w/o forking) makes tests run twice

![image](https://user-images.githubusercontent.com/1759654/143260207-0fe4984a-4a8f-4a7f-8b9f-4fccd3a07a8c.png)

Might need to change actions config to smth like that:
[code]

[2021-11-24 19:17] leon0399 opened #71 "Separate `refresh_token`"
### Subject of the issue
Refresh token [should be different](https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/) from `access_token`. It does not only provide security vulnerability, but also a lot of misunderstandments (https://github.com/tymondesigns/jwt-auth/issues/1105, https://github.com/tymondesigns/jwt-auth/issues/2149, https://github.com/tymondesigns/jwt-auth/issues/

[2021-11-24 20:14] leon0399 opened #72 "Octane compatability"
### Subject of the issue
Right now library is not Octane compatible, (e.g. places like [this](src/Providers/LaravelServiceProvider.php#48 are [not allowed](https://laravel.com/docs/master/octane#dependency-injection-and-octane) use `$this->app`, `config(...)` function call inside providers [should be replaced](https://laravel.com/docs/master/octane#configuration-repository-injection) by `$this->ap

[2021-11-24 20:18] leon0399 commented on #72
There is also some discussions [here](https://github.com/spiral/roadrunner-laravel/issues/15)

[2021-11-24 20:26] leon0399 opened #73 "Refactor JWT Drivers to Laravel's provided Managers"
### Subject of the issue
Right now multiple drivers for JWT (`lcobucci/jwt` and `namshi/jose`), Auth and Storage uses some custom hacky solution ([1](src/Providers/AbstractServiceProvider.php#344), [2](config/config.php#278), when Laravel provides special solution for that ([1](https://laravel.com/docs/5.0/extending#managers-and-factories), [2](https://pineco.de/drivers-and-managers-in-laravel/),

[2021-11-24 21:00] mfn commented on #72
I already sense semantically breaking change and we should probably target 2.x for any one of this.

I mentioned this in another issue already, I think we should focus 1. on being the best and compatible version for ppl to move over from the fork but hold off major chances there.

[2021-11-24 21:02] leon0399 commented on #72
Sure I agree! Fix everything we can and only then start thinking on new features!

[2021-11-24 21:04] leon0399 commented on #72
But right now we shall think of it like of bugfix, not feature, so we might need to think about finding some kind of clutch to maybe clear this cache on each request

[2021-11-24 21:24] mfn commented on #72
I've a "but" here: the original library didn't claim Octane compatibility and doing so suddenly for essentially (still) the same code base would bring 1.x into the realm of requiring breaking changes.

With "breaking changes" we should include **extending** this library, which means:
- constructor args changes
- method args changes
- visibility changes (e.g. protected -> private)
- etc.

[2021-11-24 23:14] Messhias commented on #72
In this case, will be great changes, might it be better just we adapt what we have for <8 versions of PHP, and those major changes move to 2.x with 8+ and leave the 1.x to keep supporting older versions until PHP stop support 7.x.

[2021-11-24 23:20] Messhias commented on #73
We should keep both because the alg encrypt, in fact as per what I was reading (I'm having some JWS issues here in my job) this is something related to the RFC 7577 and 7575.

If I understood clearly the RFC.

[2021-11-24 23:22] Messhias commented on #71
Let's put this on 2.x.

[2021-11-25 03:15] leon0399 commented on #73
I think there is some kind of misunderstandment 😅. I'm not talking about removing any features, I'm talking about internal code refactoring, that will not only use existing and provided solutions, but also allow end-users etend library entirely inside their projects more easily

[2021-11-25 04:00] leon0399 commented on #66
I've added changelog to [Releases](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases) page, so issue is resolved

[2021-11-25 04:00] #66 closed

[2021-11-25 09:39] #68 closed

[2021-11-25 10:30] mfn commented on #72
TBH I don't see the connection between "PHP version support", "laravel version support" and "octane support".

I was just suggesting that, in case we need to change too much for Octane (even internally), we should target not 1.x as we would create more friction with upgrade of the forked library.

Even the constructor change recently is already in that direction and can create friction.

[2021-11-25 15:21] #61 closed

[2021-11-25 15:27] Messhias commented on #72
So let's put it on the roadmap for release on 2. x, but we should start taking a not in somewhere of his roadmap (I believe here in GitHub there's something called project it's similar to Asana) because as per our discussions about some stuff we're starting inserting a lot of stuff on the roadmap and might well take the development quite delayed.

In the initial, I and @eschricker were thinking to

[2021-11-25 15:29] Messhias commented on #73
Sorry for my misunderstanding my friend hahahhaha

Anyway sounds good, but for this enhancement I believe will be quite harder since the project if looks deeply it works very attached the things between each other, so I believe if we're going forward with that let's split into small parts to keep tests/project running (mainly for us that we already have it working in our production projects/jobs).

[2021-11-26 08:22] dexcell commented on #71
+1 on this, feeling confused since usually i implement oauth based on the spec, then found out there is no dedicated `refresh_token` using jwt-auth lib

[2021-11-26 08:24] mfn commented on #72
A project is "more" than just what we need here, not sure if there's a benefit.

I think what you're looking for are "milestones": each issue can be assigned to one; for example see the ones I used over at https://github.com/rebing/graphql-laravel/milestone/2?closed=1

I believe in:
- release early, release often
- the release process should be as automated as possible to allow the first point
- t

[2021-11-26 09:42] Messhias commented on #72
I agree with your points and I don't know how the milestones in GitHub work, and how to set up and automate.

I can you have more experience on that and in my opinion, I believe we should on this subject, in that case, consider your ideas and move forward.

[2021-11-26 09:44] Messhias commented on #71
Ok, if no one gets this to start developing I'll try to get this on this weekend to start developing and open the PR for us.

@leon0399 if you already started working on this you can open the PR as a draft and we can help you as well too.

[2021-11-26 12:35] mfn commented on #72
I essence, you
- create a new milestone: https://github.com/PHP-Open-Source-Saver/jwt-auth/milestones/new
- then apply it to respective issues/PRs
  ![image](https://user-images.githubusercontent.com/87493/143581660-68d37933-d115-4857-918b-9236c2f5468a.png)

This is a manual process, it's unrelated to automation (though I believe githubs API supports something here but not sure what).

The milesto

[2021-11-26 12:36] mfn commented on #71
Would the target be 1.x or 2.x? I mean are we expecting (hard to say before coding, right? 😅) incompatible changes for old package transitions? 🤔

[2021-11-26 13:50] leon0399 commented on #71
Let's move discussion regarding future incompatible changes somewhere else. This change is definetely breaking (atleasr how I see it)

I've started [new discussion](https://github.com/PHP-Open-Source-Saver/jwt-auth/discussions/76)

[2021-11-26 13:53] leon0399 commented on #72
@mfn @Messhias as I stated in another issue, let's move to [discussion](https://github.com/PHP-Open-Source-Saver/jwt-auth/discussions/76)

[2021-11-29 08:25] leon0399 opened #80 "JWT without users database"
### Summary

Nowadays many projects are made using microservices approach, and it would be nice to have support to use JWTs without having users in database (basically, just parse token claims, maybe omitting [regitered claims](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1)?), to support tokens, issued by other party

[2021-11-29 08:35] mfn commented on #80
2.0 roadmap ? 🤔

[2021-12-01 22:36] Messhias opened #81 "It's an issue but also it's a requirement soon for PHP >8.1"
### Summary

Deprecated:  Return type of PHPOpenSourceSaver\JWTAuth\Claims\Claim::jsonSerialize() should either be compatible with JsonSerializable::jsonSerialize(): mixed, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /Users/collegia/Documents/Collegia/systems/api/vendor/php-open-source-saver/jwt-auth/src/Claims/Claim.php on line 149

Just to us ha

[2021-12-03 08:58] Sergiobop commented on #48
I think it's resolved, but i'm not 100% sure, in what commit did you modify the behaviour so i can check?

Thanks!

[2021-12-03 12:08] Messhias commented on #48
The specific commit I don't know now, we need search, but you can search it but the commit history and or / release.

For now, I'll close the issue since you give a 50/50 positive answer for the issue and if you're facing the same behavior again please feel free to open it again.

[2021-12-03 12:08] #48 closed

[2021-12-04 21:26] mfn commented on #30
I see this got added to a project named "V1 Maintenance"

I've to disagree:
- I believe our current 1.* should be the most compatible one with the original fork
- any change in behaviour should target 2.*

I.e. the discussion resolves around a change in behaviour which IMHO also relate to semver and should not be changed in a minor version.

[2021-12-06 13:19] weeliem opened #84 "Token invalidate not working"
### Subject of the issue
JWT token is not invalidated after logout

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| Framework         | Laravel
| Framework version | 8.65
| Package version   | 1.2.0
| PHP version       | 8.0.11

### Steps to reproduce
JWT token is not invalidated after logout using Auth::logout() or Auth::logout(true)

### Expect

[2021-12-06 13:40] mfn commented on #84
Just to clarify, tokens by itself are stateless and can't be invalidated.

But yes, "invalidation" is possible by adding them to the "blacklist", thus my questions:
- do you have the blacklist config enabled and is your cache working?
- do you get any errors/exceptions?

[2021-12-07 00:56] weeliem commented on #84
Hi @mfn , yes, blacklist config (JWT_BLACKLIST_ENABLED) always set to true in jwt.php and also my cache is working fine (CACHE_DRIVER=file). And i am not getting any errors.

Besides, i try to downgrade PHP to version 7 and change the jwt package back to tymon package, the token invalidate is working fine after logged out.

[2021-12-07 08:12] mfn commented on #84
Thanks, that's vital information!

Which **specific version** of tymon did you try compared to this 1.2.0 ?

[2021-12-07 08:14] eschricker commented on #84
In my opinion this is the same as in #44 . Besides JWT_BLACKLIST_ENABLED you need to set  JWT_SHOW_BLACKLIST_EXCEPTION to true.

[2021-12-07 08:16] mfn commented on #84
@eschricker sorry, missed this myself

Why does enable the exception for logging purpose "fix" the issue? Wouldn't that be a bug in itself? 🤔

[2021-12-07 08:31] eschricker commented on #84
[code]

This is the decode function. If `JWT_SHOW_BLACKLIST_EXCEPTION` is false (what is the default value), the exception will never be thrown and the payload will always be returned, even if blacklisting is activated and the token is blacklisted.

Besides the unnecessary nested ifs, I don't know if this is a bug. @Messhias contributed the code and can clarify why it is implemented that way. @mfn

[2021-12-07 09:04] Messhias commented on #84
@weeliem the token is always blacklisted by since you set up JWT_BLACKLIST_ENABLED to true, just put this is to true in your .env, it's simple (otherwise you found out a bug).

@eschricker JWT_SHOW_BLACKLIST_EXCEPTION I created that because _**always when we logout**_ the library throws a blacklisted exception without any reason, just log out and trigger an exception and this is was very annoying

[2021-12-07 10:10] eschricker commented on #84
I have tested it on our systems. If `JWT_SHOW_BLACKLIST_EXCEPTION` is set to false and I invalidate the token, the token will be blacklisted and but the token can be used further. Due to the bypassing of the exception throwing.
The blacklisting mechanism just works, if `JWT_SHOW_BLACKLIST_EXCEPTION` is set to true.

I can't reproduced the behaviour that `TokenBlacklistedException('The token has be

[2021-12-07 10:23] weeliem commented on #84
i have tested with JWT_SHOW_BLACKLIST_EXCEPTION set to true. The invalidating is working fine after JWT_SHOW_BLACKLIST_EXCEPTION set to true in env. Thanks alot.

[2021-12-07 10:51] Messhias commented on #84
Hi @eschricker, no I wasn't calling anything, I tested with a fresh project at that time when I opened the issue in the forked repository and sometimes the exception threw and sometimes not and suddenly start throwing without any reason and this exception it's like the same issue that we have on #30, it's a bad exception to be throw and as you mentioned in the comment https://github.com/PHP-Open-S

[2021-12-13 19:51] Hmerman6006 commented on #84
Spent the better part of today trying to understand why blacklisted tokens are still authenticated as acceptable, until I read this forum.  Should probably have started here.  </ br>
Is it possible to write in big bold letters in the documentation that blacklisted jwt tokens still authenticate users unless JWT_SHOW_BLACKLIST_EXCEPTION is set to true in .env?

[2021-12-13 20:54] leon0399 commented on #84
It is seems to be bug, so no documentation update required 🙃 We probably will move `JWT_SHOW_BLACKLIST_EXCEPTION` somewhere else, since it's kinda security problem. Will try to find my time tomorrow

[2021-12-16 16:59] Borderliner opened #85 "`php artisan jwt:secret` fails"
### Subject of the issue
`php artisan jwt:secret` returns:
`There are no commands defined in the "jwt" namespace.`

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Lumen
| Framework version | 8.3.1
| Package version   | ^1.2
| PHP version       | 8.0

### Steps to reproduce
Issue `php artisan jwt:secre

[2021-12-16 17:14] eschricker commented on #85
Did you registered the LumenServiceProvider in your `bootstrap.php` like this `$app->register(PHPOpenSourceSaver\JWTAuth\Providers\LumenServiceProvider::class);`?

[2021-12-17 13:41] Sergiobop commented on #48
Confirmed this is not resolved  @Messhias ; I'm having multiple errors after update, even i removed the 'exp' from required claims

[code]

[2021-12-17 16:07] Messhias commented on #48
How can we reproduce this like your current environment? Because here my log is clear.

Thank you,

[2021-12-17 17:12] Sergiobop commented on #48
Some time before i had 'exp' in the required claims, and some time defined in the 'ttl' and 'refresh_ttl' configurations.

Then, i changed my config to:
[code]

In the time betwenn, some users generated their tokens. Those tokens are the problem now.

[2021-12-18 04:25] vanthao03596 opened #86 "Logout method not work as expect"
### Subject of the issue
I can still use access token after call logout method

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.x.y
| Package version   | 1.x.y
| PHP version       | 8.x.y

### Steps to reproduce
- Use attempt method to create access token
- Call logout

[2021-12-18 04:30] vanthao03596 commented on #86
close for duplicate.

[2021-12-18 04:30] #86 closed

[2021-12-21 19:22] leon0399 commented on #84
So, I've investigated the issue. @Messhias, am I right, thinking that by #7 your intent was to fix an issue with deprecated [`jwt.refresh`](src/Http/Middleware/RefreshToken.php) middleware, when next request with previous token was rejected?

If so, check added by you in #7 will be moved to this middleware only, keeping in mind that is is already deprecated.

[2021-12-22 14:25] cyrrill commented on #81
Hi @Messhias, I've submitted PR #87 for this.

[2021-12-22 17:50] phkraehling opened #88 "TypeError JWT Guard"
### Subject of the issue
I installed as described. SingUp (except Login) works fine.
At the login I get this error message:
`"message": "PHPOpenSourceSaver\\JWTAuth\\JWTGuard::login(): Argument #1 ($user) must be of type PHPOpenSourceSaver\\JWTAuth\\Contracts\\JWTSubject, App\\Models\\User given, called in /Users/**/app/todo/backendv2/vendor/php-open-source-saver/jwt-auth/src/JWTGuard.php on line

[2021-12-22 18:01] phkraehling commented on #88
Sorry, I didn't change everything at my user model.

[2021-12-22 18:01] #88 closed

[2021-12-23 20:03] williamdes opened #89 "setTTL should accept null"
### Subject of the issue
`setTTL` should accept null in the phpdoc

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.77
| Package version   | 1.2.0
| PHP version       | 7.4.25

### Steps to reproduce

Use phpstan on this code
[code]

### Expected behaviour

Allow null ?

[2021-12-23 20:08] Mavv3006 commented on #85
have you done a `composer install` after adding the library to the `composer.json`?

[2021-12-24 10:14] Messhias commented on #89
Hi, thanks for letting us know, if you already have the solution you're welcome to open the PR.

In case of not, I'll ask to you have some patience to investigate, I particularly am passing by a very turbulent end of the year because I'm doing 2 hiring processes at the same time.

[2021-12-26 16:45] #81 closed

[2022-01-05 08:27] #89 closed

[2022-01-10 14:02] Messhias commented on #85
Does this still persist after the tips above?

If the author doesn't give back feedback about the issue we'll close it.

[2022-01-13 15:07] dan-lutd opened #100 "Add the ability to store the token in the database/redis"
### Summary

On sites with filesystems like Heroku, the file storage of generated files flushed every restart and at least every 24 hours.
For images ie user profile pic, AWS or other is suggested.
But for authentication I'd like to use the database or redis if needed to scale.
Each user may have multiple devices and therefor multiple rows in the token table.
For example token_id, token (hashed) u

[2022-01-13 16:35] eschricker commented on #100
In my opinion, this functionality does not need to be included in the library.

You ca create a database table that contains all your tokens with the different claims. To do this, you need to change your login an refresh methods. If you want to unauthorize specific token, you can blacklist them. The functionality to blacklist tokens is implemented in this library.

[2022-01-13 17:57] leon0399 commented on #100
The main cause for JWT is that it shouldn't be stored anywhere, but validated using cryptographic algorithms
Perhaps in your case you may look for other solutions

[2022-01-13 20:48] treehousetim opened #101 "Secret is not nullable but should be according to the library config boilerplate"
### Following the migration advice in the README yields this error.

Cannot assign null to property PHPOpenSourceSaver\\JWTAuth\\Providers\\JWT\\Provider::$secret of type string

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | unsure
| New Feature?      | no
| Framework         | Lumen
| Framework version | 8.3.1
| Package version   | 1.3.x
| PHP versi

[2022-01-13 23:28] treehousetim commented on #101
I may be wrong, but it seems that it needs to be optional based on what I read in the boilerplate.

[code]

My .env file:

[code]

[2022-01-14 07:43] mfn commented on #101
Oh, _very good_ point! 🤦🏼

[2022-01-18 08:03] #101 closed

[2022-01-18 17:04] Messhias commented on #100
I believe this issue should be not forwarded as peer @eschricker advised with @leon0399.

If you think should keep this request open feel free to open the issue again with more details and why should be added to the library.

[2022-01-18 17:04] #100 closed

[2022-01-18 17:06] #85 closed

[2022-01-18 17:08] Messhias commented on #84
But for this issue this approach is already solved?

[2022-01-18 17:39] dan-lutd commented on #100
I understand if that is the direction the developers want to go..
My use case uses the stored token record for all tokens for a user,
allowing a different token per device.
A user may then get a list of the other devices that have tokens and revoke that token by deleting it.
By just using the token blacklist I cannot see the other devices the user may use.

[2022-01-18 19:37] mfn commented on #100
I think what you're looking for might a more feature-full implementation like https://laravel.com/docs/8.x/sanctum

[2022-01-18 19:41] dan-lutd commented on #100
Exactly what I settled on.  thanks

[2022-01-18 22:11] Sergiobop opened #104 "Php 8.1 warnings"
### Summary

After the new release, warnings still keep showing:
[code]

[2022-01-19 09:55] Messhias commented on #104
I'll fix that for us today.

[2022-01-19 09:59] leon0399 commented on #100
This feature will be possible after #71

[2022-01-21 00:41] dmason30 commented on #72
@leon0399 I wanted to see if this could be done without breaking changes, since I have want to switch one of our apps to using octane. However, I ended up changing two `protected` method signatures in the provider so I don't think its possible 😢

If interested you can see changes on my fork here:
https://github.com/dmason30/jwt-auth/pull/2/files

[2022-01-21 07:26] mfn commented on #72
The changes on the PR look legit to me (briefly looked; I've also made a lib Octane-compatible some time ago and they make sense).

[2022-01-21 09:16] dmason30 commented on #72
@mfn I can submit the PR if you want me to, just seems you guys have a mammoth task on deciphering what was originally planned for 2.0, unless you would consider an early 2.0 to add this an perhaps drop PHP 7.4/Laravel 6

[2022-01-21 09:43] mfn commented on #72
Thanks, yes, makes sense to include this topic into the discussion over at https://github.com/PHP-Open-Source-Saver/jwt-auth/discussions/76#discussioncomment-2012665

[2022-01-21 10:04] Messhias commented on #72
And this is will stay using the 2.x versions for PHP >8.0 ou we'll develop in both cases?

[2022-01-22 01:38] renatop7 opened #111 "TypeError after installing 1.4.0 + IDE Helper"
### Subject of the issue

[code]

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 8.x
| Package version   | 1.4.0
| PHP version       | 8.1.0

### Steps to reproduce
With Laravel 8 and IDE helper installed

`composer require php-open-source-saver/jwt-auth`

### Expected be

[2022-01-22 20:24] mfn commented on #111
From the information given, I derive your are using symmetric algorithm but not providing a secret?

Maybe this is trigger due to recent code changes, but we need to make sure your config is in order. In your `config/jwt.php`:

- are you defining a `'secret'`?
- which `'algo'` are you using?

(would be great if you can dump you whole `config/jwt.php` but make sure it does not contain secrets ❗ )

[2022-01-23 23:08] wpsouto commented on #84
I HAVE THE SAME PROBLEM, ANY SOLUTION?

[2022-01-24 07:08] eschricker commented on #84
The workaround is mentioned above: Set `JWT_SHOW_BLACKLIST_EXCEPTION` in your .env to true

[2022-01-24 07:38] #104 closed

[2022-01-24 08:38] mfn commented on #104
@Sergiobop https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/1.4.1 was just released!

[2022-01-27 10:08] atapatel opened #115 "Unable to generate jwt token without `subject`"
### Unable to generate jwt token without `subject`Describe your issue here.
I try to generate token from empty class but it is not working.
sample code
[code]

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel / Lumen
| Framework version | 8.81.0
| Package version   | 1.40.1
| PHP version

[2022-01-27 10:40] leon0399 commented on #115
This error occurs because your user does not have ID (assuming that ID is used for `getJWTIdentifier()`). You will need to save your user into database before issuing token, to fetch it's ID, or use other kind of identifier (like UUID), that can be generated beforehand

If you want to generate JWT without `sub` claim, you will not be able to use it for authentication

[2022-01-27 12:31] atapatel commented on #115
@leon0399 actually I need to generate an anonymous user token.

[2022-01-27 12:33] atapatel commented on #115
another hack to generate `sub` as empty is use of  `getJWTCustomClaims` functions in User class
[code]

[2022-01-28 12:36] Messhias commented on #115
You can change this if it's in your User model:

[code]

[2022-01-30 21:21] mfn commented on #72
@Messhias sorry, I'm not sure what you mean?

[2022-01-31 11:21] Messhias commented on #72
We'll use the branches on 2. x for PHP 8+ or we'll try to use all branches for maximum versions that we can support?

[2022-02-02 18:28] Messhias opened #116 "Lcobucci\JWT\Signer\Key\InMemory::plainText(): Argument #1 ($contents) must #21 10.08 be of type string, null given"
### Subject of the issue
Lcobucci has stopped working in docker PHP alpine 8+

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel / Lumen
| Framework version | latest
| Package version   | latest
| PHP version       | latest

### Steps to reproduce
Dockerfile:
[code]

Just run `docker build -t .`

[2022-02-03 07:33] eschricker commented on #116
I can confirm that this is the behaviour, when `JWT_SECRET` is not set in the .env-file.

One simple solution would be to add an empty string as default value to the config-file.

[code]
But it needs to be checked if it has some side effects.

[2022-02-11 08:29] Geoffry304 opened #120 ""Auth guard [tymon.jwt] is not defined" with adldap2-laravel"
### Subject of the issue
Auth guard [tymon.jwt] is not defined.
I got this error after upgrading to L9 and changing from tymon/jwt-auth, any idea why this is happening?
When I rollback to old package and previous version everything is working.
I can fix the problem by adding this to the auth.php config file, but this is not what I want.
`        'tymon' => [
            'jwt' => [

[2022-02-11 10:32] mfn commented on #120
But isn't this required per https://laravel-jwt-auth.readthedocs.io/en/latest/quick-start/#configure-auth-guard ? 🤔

Or what's your use-case to avoid this?

[2022-02-11 10:49] Messhias commented on #120
It isn't required as per the docs, but you need to specify your use-case as per @mfn mentioned.

[2022-02-15 11:03] mihai-waydev opened #121 "Lcobucci\JWT\Token\Builder::permittedFor(): Argument #1 must be of type string, array given"
### Subject of the issue
I am using the following to generate payload and encode token:

[code]

And I get the following error:

`Lcobucci\JWT\Token\Builder::permittedFor(): Argument #1 must be of type string, array given, called in .../vendor/php-open-source-saver/jwt-auth/src/Providers/JWT/Lcobucci.php on line 209`

Aud seems to be generated as array even though I pass a simple string and I gues

[2022-02-16 11:29] mihai-waydev commented on #121
Fixed by using customClaims instead, now it looks like this and it works:

[code]

[2022-02-16 11:29] #121 closed

[2022-02-17 12:53] Mishanki commented on #120
Tried to update laravel and got similar error

[2022-02-22 14:39] SRaromicon commented on #84
This issue had me cost an hour of debugging. Documentation should be updated.

[2022-02-24 09:16] TeroBlaZe commented on #121
The issue should be open again.
The same error appears when you add the "aud" claim and try to refresh a token.
The auth guard can't refresh the token if the "aud" string is present in the payload data.

[2022-02-24 09:26] Messhias commented on #121
Can you share your payload?

[2022-02-24 09:33] TeroBlaZe commented on #121
I didn't do anything special just added to User model and issued a new token.
[code]

the payload is
[code]

[2022-02-24 09:36] Messhias commented on #121
Ok, thanks for sharing.

But I don't get exactly the issue you're having.

[2022-02-24 09:41] TeroBlaZe commented on #121
It appears when you refresh the token with "auth()->refresh()"

[2022-02-24 09:48] Messhias commented on #121
Ok, when I got some time I'll take a look at it.

[2022-03-06 22:08] hgoncalves opened #125 "Token sub is false if using uuid instead of int"
### Subject of the issue
Token sub is false if using uuid instead of int

### Steps to reproduce
- Create a trait to use uuids as user primary key
- Login to request a token

### Expected behaviour
Token sub should be user-> id  (UUID)
`8b597663-8bbf-4d40-99c7-e35f64710394`

### Actual behaviour
I get the first number of the uuid instead
`8`
if user's uuid does not start with a number we get a 0

[2022-03-20 13:51] nausixkiz opened #130 "Unable to issue tokens with uuid as primary key of user model"
### Subject of the issue

Unable to issue tokens with ``uuid`` as primary key of ```User``` model

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              |  Yes
| New Feature?      | No
| Framework         | Laravel
| Framework version | 8.65
| Package version   | 1.4.1
| PHP version       | 8.0.14

### Steps to reproduce

- Create a trait to use uuids as user

[2022-03-20 14:30] nausixkiz commented on #130
Add ``` rotected $primaryKey = 'uuid'; ``` to ```User``` Model solved

[2022-03-20 14:30] #130 closed

[2022-03-21 07:15] eschricker commented on #125
@hgoncalves have a look at this issue: https://github.com/PHP-Open-Source-Saver/jwt-auth/issues/130

Does this solve your problem?

[2022-03-21 19:55] hgoncalves commented on #125
@eschricker no it did not solve my problem but it helped me find the solution.

My primary is indeed `id` therefore I was not useful to change to set `protected $primaryKey = 'id';`

But and is important 😄 , adding the following lines to User model solved it 🥳 .

[code]

[2022-03-21 19:55] #125 closed

[2022-03-21 22:28] HannyPrastya commented on #116
Hi there, I can reproduce the issue after migrating from the old repo.
- PHP Version: 7.4 (XAMPP env)
- Laravel Version: 8.83.5

I tried to dig the issue:

Code:
[code]

Result:
![result](https://user-images.githubusercontent.com/20153323/159372587-7233a3d3-fef2-48d9-bdbc-e1bc1c6443a5.png)

Apparently, `$this` inside the closure refers to `LaravelServiceProvider`, so that's why even if I already s

[2022-03-23 12:19] shinguweb96 opened #131 "Auth driver [jwt] for guard [api] is not defined."
Lumen

`Auth driver [jwt] for guard [api] is not defined.`

I tried to use a boilerplate too: https://github.com/Mavv3006/laravel-lumen-jwt-auth

Same error

[2022-03-23 12:42] eschricker commented on #131
I can't reproduce your error. I have cloned the mentioned git. Afterwards I completed the following steps:
- install dependencies via composer (`composer install`)
- create a .env-file
- create user via db-seeder (`php artisan db:seed`)
- serve the project (`php -S localhost:8005 -t public &`)
- hit the login-endpoint via curl (`curl -X POST 'http://localhost:8005/login' -d '{"email":"c@c.c","pass

[2022-04-06 10:21] #116 closed

[2022-04-11 20:14] flavio-alves-wemake commented on #120
I got same error after upgrading to Laravel 9.x and switched to this package.

@Geoffry304 did you got it working?

[2022-04-15 09:14] mattvb91 commented on #80
Currently looking for exactly this. I just need a temporary token to make a request to another service which in turns uses the token to validate against the api for some data.

[2022-04-22 00:21] KhalidMh commented on #84
The invalidating is working fine after JWT_SHOW_BLACKLIST_EXCEPTION set to true in env.

[2022-05-03 10:48] bertoost opened #137 "Blacklist::__construct(): Argument #1 ($storage) error when trying to generate token for user"
### Subject of the issue

For internal features of the application, we generate a token like this;

[code]

This triggers an error since we moved to this package.

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes, I think
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9.10.1
| Package version   | 1.4.2
| PHP version

[2022-05-03 11:42] eschricker commented on #137
Did you run the migration steps mentioned in the README.md?
We have changed the namespace from Tymon to PHPOpenSourceSaver, so the error message looks like you have explicitly referenced Tymons namespace or you probably need to run `composer dump-autoload`.

[2022-05-03 11:57] bertoost commented on #137
I replaced it like the description and ran composer multiple times.. the error looks like an internal issue?

[2022-05-03 13:04] eschricker commented on #137
The error message contains `/var/www/html/vendor/tymon/jwt-auth/src/Providers/AbstractServiceProvider.php`. This means that the AbstractServiceProvider from Tymon is used instead of ours. Please check that the vendors folder does not contain the folder tymon/jwt-auth anymore.

[2022-05-03 13:13] bertoost commented on #137
Damn! How did I missed that... I removed the package and re-dumped composer's autoloading and now it's working. Thanks!

[2022-05-03 13:13] #137 closed

[2022-05-04 19:45] trevormcclellan opened #139 "Does not work with Laravel Broadcasting"
### Subject of the issue
When migrating to this package from the original tymondesigns package, Laravel Broadcasting stopped working. The code used works with the tymondesigns package, but not this one. When a user tries to join a channel, it first sends a request to the `/broadcasting/auth` endpoint. The old package would authenticate the user based on the token passed though the cookie. The new

[2022-05-04 20:13] Messhias commented on #131
Closing due to inactivity.

[2022-05-04 20:13] #131 closed

[2022-05-05 05:27] mfn commented on #139
Can you provide a PR to fix this?

[2022-05-05 12:15] Messhias commented on #139
Did you have a PR to fix this or have an idea to fix it?

If not, can you please share an example code + environment that we could reproduce it?

[2022-05-05 12:16] #71 closed

[2022-05-06 17:01] trevormcclellan commented on #139
After further debugging, I realized that this issue was caused by differences in the parser and a misconfiguration in our project. In the project, we did not put `Bearer` in front of the token in the `Authorization` header. In previous versions, the `AuthHeaders.php` parser would return `null` if the value of the header did not have `Bearer`, meaning that it would try the next parser. It still wor

[2022-05-13 13:52] aprokopenko commented on #84
Yeah I also spent a few hours finding that some exception config is disabling blacklist at all and break invalidation.

You can't return a payload if it's blacklisted and it doesn't matter about exception. So this is totally wrong to skip this check and just return a payload for invalidated token!

[2022-05-15 19:11] avidianity commented on #139
Looks like tymon fixed this on his own package.
https://github.com/tymondesigns/jwt-auth/commit/5285281370e356a81fba1a968bb7f50fc999fddd

[2022-05-16 11:01] Messhias commented on #139
can you open a PR for us with this fix too?

[2022-05-19 05:27] #139 closed

[2022-05-19 06:19] mfn opened #142 "Internal: GHA "Fix Code Style" fails"
### Subject of the issue
After https://github.com/PHP-Open-Source-Saver/jwt-auth/pull/141 was merged, on master https://github.com/PHP-Open-Source-Saver/jwt-auth/runs/6501560509?check_suite_focus=true was triggered and failed:

[code]

[2022-05-30 09:31] Messhias commented on #120
Any update about that? I'll wait, within one week we'll close due to inactivity.

[2022-05-31 06:32] Geoffry304 commented on #120
Hello, Sorry for my late response.

The problem is still there, this is my laravel.log

[2022-05-31 08:30:00] local.ERROR: Auth guard [tymon.jwt] is not defined. {"userId":603,"exception":"[object] (InvalidArgumentException(code: 0): Auth guard [tymon.jwt] is not defined. at /var/www/vendor/laravel/framework/src/Illuminate/Auth/AuthManager.php:84)
[stacktrace]
#0 /var/www/vendor/laravel/framework/

[2022-05-31 09:37] mfn commented on #120
Can you try without that, so we can make sure it's not related to that?

[2022-05-31 10:00] Geoffry304 commented on #120
Ok, that did the trick, when I try without it its working.

[2022-05-31 10:39] Th3BiSh0p opened #147 "ParseError: syntax error, unexpected ')' in file /php-open-source-saver/jwt-auth/src/Providers/JWT/Lcobucci.php on line 93"
### Subject of the issue
I want to user jwt-auth on an old laravel project (v7.30), I've already used it on newer project without any big issues.
I want to keep the default auth guard (web), without any modification I have the error
`BadMethodCallException: Method Illuminate\Auth\SessionGuard::factory does not exist. in file /.../vendor/laravel/framework/src/Illuminate/Support/Traits/Macroable.php

[2022-06-01 06:28] eschricker commented on #142
Am I correct that this is caused by the branch protection of main? Wouldn't it be better to do the code style fixing directly on the pull request?

[2022-06-01 07:58] eschricker commented on #147
The minimum required version of php should be 7.4:
https://github.com/PHP-Open-Source-Saver/jwt-auth/blob/d7c3f3a4ac3e6cfdee8b98582c078aecc7379236/rector.php#L17

[2022-06-01 08:17] #147 closed, assigned to nobody

[2022-06-01 08:20] Messhias commented on #142
Yes, we can add this on workflow on PR closed/merged or when it opens since we don't need to wait until it goes to the main.

If I not wrong, there's are phpcs or something like that in the official PHP actions repository.

[2022-06-01 08:39] eschricker commented on #142
@Messhias do you have time to check this out and change it?

[2022-06-01 09:52] twistn1 opened #150 "Docs Language"
Can I translate the docs into my native language? Or you wish It to be only in English?

[2022-06-01 09:56] Messhias commented on #142
I don't have time right now since I'm doing the same configurations in my current company for our PHP project.

But I'll share my php.yml that's in the workflow where I believe that we can insert into this repository workflow:

[code]

Of course,e it's not the whole file, I'm mentioning this specific line:

[code]

[2022-06-01 10:11] Messhias commented on #150
You can translate since you keep English as well and update the documentation too.

[2022-06-01 10:52] twistn1 commented on #150
OK. Thank you for the answer.

[2022-06-01 12:12] leon0399 commented on #150
Hi, @twistn1! You can contact me if you need some support in Russian

@Messhias I would vote against accepting PR adding docs on other language. By accepting PR we also accept responsibility to maintain these changes relevant. Supporting documentation in multiple languages might difficult without team of active members, who can take this responsibility. As only russian-speaking member, I cannot ta

[2022-06-01 12:27] twistn1 commented on #150
@leon0399 Thank you. I will contact you if needed.
Despite if you accepting or not, I will translate it for my russian-speaking colleagues anyways. I understand your concerns, but I hope my translation could help the russian-speaking community.

[2022-06-01 14:21] Messhias commented on #150
I believe we don't have to take this responsibility since someone is want to do that, our only responsibility is to keep it as English, I'm a Brazil Portuguese speaker native as well and for me sometimes is hard to work with something without my native language and I understand why he wants to do that, and we're open source, so anyone can contribute, if the documentation in any other XPTO language

[2022-06-10 11:01] johnbasinger opened #154 "PHPOpenSourceSaver\JWTAuth\JWT::fromUser(): Argument #1 ($user) must be of type PHPOpenSourceSaver\JWTAuth\JWTSubject"
PHPOpenSourceSaver\JWTAuth\JWT::fromUser(): Argument #1 ($user) must be of type PHPOpenSourceSaver\JWTAuth\JWTSubject, App\User given, called in vendor/php-open-source-saver/jwt-auth/src/JWTAuth.php on line 50

[2022-06-17 08:51] DuhAlonso opened #157 "Logout not working"
### Subject of the issue
Method logout not working in PHP 8.1.5 | Laravel 9.17.0

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?               | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9.17.0
| Package version   | 1.4
| PHP version       | 8.1.5

### Steps to reproduce
[code]
**My Class LoginAuthController**

[code]

**auth.p

[2022-06-17 11:07] Messhias commented on #157
Error log?

[2022-06-17 11:15] DuhAlonso commented on #157
Don't a have error, simplessmently not add in the blacklist.
The function logout is call, but the token continue valid.

[2022-06-17 11:22] Messhias commented on #157
Did you try this?

[code]

[2022-06-17 11:33] DuhAlonso commented on #157
Yes, the token is only expiring for time.
Even when you refresh the old token is still valid.

[2022-06-17 11:34] DuhAlonso commented on #157
Yes, the token is only expiring for time.
Even when you refresh the old token is still valid.

[2022-06-18 00:34] DuhAlonso commented on #157
I hadn't added it to the env.

I put `JWT_BLACKLIST_ENABLED=false`
and asked to enable, I set it to true and got the same result as before.

I will share the project with you

[2022-06-18 00:38] DuhAlonso commented on #157
I sent you an invite

[2022-07-04 23:12] mojimich2015 commented on #157
Logout not working for me too

[2022-07-06 06:24] ryuichi-maeda commented on #157
Logout is working fine after JWT_SHOW_BLACKLIST_EXCEPTION set to true in .env file.
#84  is a similar issue.

[2022-07-07 01:04] maximalambda commented on #157
Same, it is a strange behavior isn't it?

[2022-07-07 01:05] maximalambda commented on #157
You have to update your documentation

[2022-07-07 12:12] Messhias commented on #157
Indeed we have to, but at moment we just have a few contributors and some of them it's having trouble because of the Ukraine War.

You're welcome to help us to contribute and evolve the documentation.

Remembering the _**forked original documentation**_ belongs to the Sean Tymon's repository and not to ours.

[2022-07-08 07:23] v131313 commented on #80
Write custom middleware
`<?php

namespace App\Http\Middleware;

use App\Models\User;
use Closure;
use Illuminate\Http\Request;
use PHPOpenSourceSaver\JWTAuth\Exceptions\JWTException;
use PHPOpenSourceSaver\JWTAuth\JWTAuth;
use Symfony\Component\HttpKernel\Exception\BadRequestHttpException;
use Symfony\Component\HttpKernel\Exception\UnauthorizedHttpException;

class JwtAuthGetUserFromToken
{
    /*

[2022-07-14 09:01] avidianity opened #164 "Different TTL configurations for each guard"
### Summary

I have the following guards defined which uses different models and it works really well for me, one problem that I have is I can't have them configured with their own set of TTLs. I can do it outside the config but it's hard to maintain.

I have defined my `auth.php` config like this:

[code]

It would be nice if I could do the following:

[code]

[2022-07-18 02:32] Abidkhan1 commented on #115
### Thanks Everyone it has resolved my error that I was facing from last 2 days,

 **id** in Users table was set as **user_id**
So I used user_id instead of id here and it is working now

**public function getJWTCustomClaims()
    {
       return [
            'sub' => $this->user_id ?? '',
             ....
         ];
     }**

[2022-07-29 08:50] Messhias commented on #164
You can create a PR to help improve that.

[2022-07-29 08:51] #30 closed

[2022-07-29 08:52] #120 closed

[2022-08-02 12:44] rezanadimi72 opened #169 "how to use jwt auth with db table check (db less)"
### Summary

how to use jwt auth without db table check (db less)
for use in microservice

[2022-08-04 05:14] amirmehr-ir opened #171 "revoke user token"
Hi erverybody, i use below code to generate token for users
[code]
now i want to revoke user token. i try every sample code's that i find, but no one worked for me.
i have no error in revoke token process, but if i try use revoked token again its worked right.

even i tried below codes
[code]

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New F

[2022-08-04 05:23] amirmehr-ir commented on #157
thank's, its worked for me by this

[2022-08-04 05:25] amirmehr-ir commented on #171
i just put below code in my .env file and it's worked right

[code]

[2022-08-04 05:25] #171 closed

[2022-08-04 17:39] #157 closed

[2022-08-12 14:31] Brainiac24 opened #174 "authoriSation shoud be authoriZation"
### `authoriSation` should be `authoriZation` in response data

![image](https://user-images.githubusercontent.com/29261106/184376077-4e570786-c8a5-48f0-8f6e-258bbcde60f1.png)

[2022-08-16 07:48] eschricker commented on #174
It is possible, that this code is part of your codebase? I can't find `authorisation` in this project.

[2022-08-16 07:49] eschricker commented on #169
This library is used to create JWTs. Did I understand you right, that you want to verify an existing JWT?

[2022-08-16 07:50] eschricker commented on #111
@renatop7 any update on this? Otherwise we can close the issue

[2022-08-16 09:49] rezanadimi72 commented on #169
@eschricker
when me
set a laravel route in check.jwt (this mean that route should be logined)
this library send query to database to check user exist in table or not exist.
i want to remove this database check
and just check jwt validation

[2022-08-16 10:09] eschricker commented on #169
Then you need to write your own middleware. You can use the referenced one as inspiration.

[2022-08-16 10:56] alexanderkraemer commented on #80
Also for validating the token with the public key of a external service using the external services jwks Endpoint would be awesome.
Currently I implemented this on my own, because this lib does not seem to support it.

[2022-08-16 11:02] eschricker commented on #80
@alexanderkraemer you are welcomed to create a PR

[2022-08-16 11:28] #169 closed

[2022-08-16 13:02] renatop7 commented on #111
@eschricker I gave up and started using Laravel Sanctum for authentication.
So I don't have any updates on this, sorry.
I think you can close the issue, maybe was something wrong with my setup because nobody else had this problem.

[2022-08-16 14:35] eschricker commented on #111
@renatop7 thanks for your quick reply. I close the issue

[2022-08-16 14:35] #111 closed

[2022-08-16 19:36] Messhias commented on #174
I didn't find it too as well. I believe this is part of your codebase.

[2022-08-22 03:53] kevinpurwito opened #177 "An issue when updating to "lcobucci/jwt"@4.2.0"
### Subject of the issue
There is an issue running an app _after_ updating to "lcobucci/jwt"@[4.2.0](https://github.com/lcobucci/jwt/releases/tag/4.2.0)
It is working fine with "lcobucci/jwt"@4.1.5

### Your environment:
| Q                            | A
| -------------------- | ---
| Bug?                       | yes
| New Feature?         | no
| Framework             | Laravel
| Framework versio

[2022-08-22 06:42] aprokopenko commented on #177
I created the issue on lcobucci/jwt too, they answered, that this package has to be updated:

https://github.com/lcobucci/jwt/issues/877

I suggest setting fixed dependencies in composer, because there are often problems with lcobucci/jwt packages

[2022-08-22 06:54] kevinpurwito commented on #177
Hi, yes that's what I did. For now I set the dependency to lcobucci/jwt@4.1.5

Thanks for creating issue there too. Hope it could be resolved smoothly.

[2022-08-22 09:46] lcobucci commented on #177
Hey there 👋

I'm sorry this package got affected by the behavioural BC-breaks we introduce to enforce the recommended security levels.

I really hoped that people would follow the RFCs despite my implementation or catch this on the [development branch](https://github.com/lcobucci/jwt/issues/863), avoiding all the mess.
I've got a longer response [here](https://github.com/lcobucci/jwt/issues/877#is

[2022-08-22 09:52] lcobucci commented on #174
This is `en-GB` vs `en-US`, so **both** are correct (unless it differs from documentation) 😄

[2022-08-22 10:21] lcobucci commented on #177
@kevinpurwito not trying to scare you but already scaring you... if your system is working fine with `lcobucci/jwt@4.1.5` and throwing that particular error on `lcobucci/jwt@4.2.0`, it's possible that you have an **empty key** being used to sign and verify tokens.

That means that **anyone** can forge tokens that would pass the basic validation, which is kind of a big security vulnerability of you

[2022-08-22 10:56] kevinpurwito commented on #177
Hi @lcobucci

It's happening in my CI environment so I don't think my production environment is in trouble yet! (You _are_ scaring me though haha)

I'll try to dig into the CI information a bit more to give more context.

[2022-08-22 10:58] #174 closed

[2022-08-22 11:52] kevinpurwito commented on #177
Ok, I found the issue. So the problem is because I set

[code]

in the CI .env, and then running the

[code]

command.

I _assumed_ that the JWT_SECRET will be updated in the `.env`, from being empty, to a random 64 chars.

But in reality it's *not*.

I fixed the issue by adding the 64 random chars to `JWT_SECRET` entry to my CI .env, so that I won't need to use the `php artisan jwt:secret` comman

[2022-08-22 11:54] kevinpurwito commented on #177
Thank you for your help & clarification @lcobucci

Keep doing your great work Cheers!

Closing this issue now

[2022-08-22 11:54] #177 closed

[2022-08-22 12:44] lcobucci commented on #177
Phew, good outcome then @kevinpurwito!
I'm relieved to know it was isolated to the CI environment 👍

[2022-08-23 15:18] martinsagat opened #178 "Undefined type 'PHPOpenSourceSaver\JWTAuth\Contracts\JWTSubject'.intelephense(1009)"
### Subject of the issue
Undefined type 'PHPOpenSourceSaver\JWTAuth\Contracts\JWTSubject'.intelephense(1009)

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9
| Package version   | 1.4
| PHP version       | 8

I am getting this issue I believe due to the naming convention

[2022-08-24 01:35] martinsagat commented on #178
I had to run `composer dump-autoload`

[2022-08-24 01:35] #178 closed

[2022-08-24 15:09] aprokopenko commented on #177
Hey, I still think there is a problem.

The command `php artisan jwt:secret` do not replace .env. It has a bug!

The code is:
[code]
as you can see, the search string is a regexp, but str_replace doesn't allow regexps as arguments, I updated this line to preg_replace - and it works now!

[2022-08-24 15:15] aprokopenko opened #179 "php artisan jwt:secret doesn't work"
### Subject of the issue
I found this issue when "lcobucci/jwt" updated to 4.2.0, and I got fatal error in all my application
(see https://github.com/PHP-Open-Source-Saver/jwt-auth/issues/177)

According to the mentioned issue I checked what the value of JWT_SECRET is. And it was an empty string.

I debug the code and find out that trait `EnvHelperTrait`, with method `updateEnvEntry()` doesn't wor

[2022-08-24 15:21] Messhias commented on #179
Here generated fine.

<img width="878" alt="image" src="https://user-images.githubusercontent.com/1161283/186457550-97a473af-07d0-4436-94bc-b36233ccc0a4.png">

[2022-08-24 16:01] mfn commented on #179
I can confirm the code is broken 😅

[code]

It gets added correctly but then not replaced.

[2022-08-25 06:25] eschricker commented on #179
This has already been fixed on main. But thanks for reporting @aprokopenko

We should nearby release a new version, containing this fix.

[2022-08-25 06:46] aprokopenko commented on #179
Can I expect this to be released in the next few days? We have a product, that depends on this package and I don't want to hard-code anything on top of your package or downgrade "lcobucci/jwt" package. We will have a new version release in a few days and it would be great to resolve this issue before that.

[2022-08-25 06:57] eschricker commented on #179
@aprokopenko  Yes, this is possible :+1:

[2022-08-25 08:14] aprokopenko commented on #179
@eschricker +1

[2022-08-25 08:52] eschricker commented on #179
@aprokopenko we have created a release candidate: 2.0.0-RC1 which contains the changes :smiley:

[2022-08-25 10:31] Messhias commented on #179
Closing since we did a new release fixing this part.

[2022-08-25 10:31] #179 closed

[2022-08-26 07:31] gswy opened #182 "Method [loginUsingId] does not exist."
### Summary
I have customized the user verification process. At this time, I use the user's unique identifier to log in, and it is prompted that there is no such method.

[2022-08-26 07:32] gswy commented on #182
[code]

[2022-08-26 08:06] Messhias commented on #182
You can open a new PR to help with that, lately, I'm very busy. Otherwise, I'll take a look at it by myself.

[2022-08-26 18:42] krsrk opened #183 "Could not signed token with RS256 algo."
### Subject of the issue
Could not signed token with RS256 algo. Gets an error: Could not create token: It was not possible to parse your key, reason: error:1E08010C:DECODER routines::unsupported

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9.19
| Package version   | 1

[2022-08-27 20:10] kwarcu opened #184 "Overwriting `JWT_SECRET` with `php artisan jwt:secret -f` does not work anymore"
### Subject of the issue
Overwriting `JWT_SECRET` with `php artisan jwt:secret -f` does not work anymore

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9.26.1
| Package version   | 1.4.2
| PHP version       |  8.1.8

### Steps to reproduce
1. Add JWT_SECRET to your .env

[2022-08-28 09:50] mfn commented on #184
Please give https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/2.0.0-RC1 a try, it's supposed to be fixed!

[2022-08-28 09:50] #184 closed

[2022-08-28 10:30] mfn commented on #182
Please provide more details:
- your auth and jwt config
- a complete stacktrace

thanks!

[2022-08-28 14:40] mfn commented on #183
Might it be more of an issue with the underlying library, lcobucci, we use?

Please provider our full jwt config and a full stacktrace

[2022-08-29 19:27] krsrk commented on #183
Yeah, sure, here it is the stacktrace:

{
	"message": "Could not create token: It was not possible to parse your key, reason: error:1E08010C:DECODER routines::unsupported",
	"exception": "PHPOpenSourceSaver\\JWTAuth\\Exceptions\\JWTException",
	"file": "/var/www/html/vendor/php-open-source-saver/jwt-auth/src/Providers/JWT/Lcobucci.php",
	"line": 143,
	"trace": [
		{
			"file": "/var/www/html/vendo

[2022-08-29 21:30] mfn commented on #183
The actual exception is thrown by Lcobucci, as I suspected; we just have a catch-all and convert it to our own exception, but essential it's coming from there.

[2022-08-29 21:51] krsrk commented on #183
is there any fix?

[2022-08-29 21:55] krsrk commented on #183
Sorry, forgot the jwt.php

[code]

[2022-08-30 20:32] krsrk commented on #183
is there any fix?

[2022-09-08 06:56] mfn commented on #80
Note: [2.0.0](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/2.0.0) was released (due to Octane support), so it won't be on the 2.0.0 roadmap anymore ;)

[2022-09-08 06:57] mfn commented on #72
[2.0.0 with Octane support was released!](https://github.com/PHP-Open-Source-Saver/jwt-auth/releases/tag/2.0.0)

[2022-09-08 06:57] #72 closed

[2022-09-26 18:58] EliasElimah commented on #183
Hello @krsrk ,
I have same issue with my test case.
When I try to connect via Postman everything works fine, but via the test I get the same error.

Did you find a solution to this?

[2022-09-26 23:31] krsrk commented on #183
Hello @EliasElimah,

No i have not, i'm gonna test the commando jwt:generate, this commando generates the keys for you, and also configures the env variables.

[2022-09-27 00:20] bruno-braga commented on #183
I'm also having pretty much same issue as @EliasElimah. I belive this has something to do with the context in which the application and the test are being executed. For instance,

[code]

Given those variables on my .env file above I'm able to hit the endpoint /api/auth/login just fine, but, my test fail saying:

[code]

Now if I remove one of the dots(from the path right before file://) from both

[2022-09-27 06:23] mfn commented on #183
Probably together with the `storage_path()` or `base_path()` helper, whatever suits better, in your config directly.

[2022-09-27 15:19] krsrk commented on #183
are those helpers can use in the .env file?

[2022-09-27 15:20] krsrk commented on #183
I got the same error

[2022-09-27 15:26] krsrk commented on #183
if i put the absolute path, i get this error:

"message": "Could not create token: It was not possible to parse your key, reason:\n* error:1E08010C:DECODER routines::unsupported",

[2022-09-27 15:51] eschricker commented on #183
the helpers are just available in the config file not in the .env-file

[2022-09-27 15:52] krsrk commented on #183
i just post the solution, with storage helper

[2022-10-06 08:18] djurovicigoor opened #193 "Method [viaRemember] does not exist."
### Method [viaRemember] does not exist.
I am running tests in Laravel and trying access to my API.
I am sending token with headers (code bellow), same as a normal API call from postman for example. Api call from the postman works without any errors.

[code]

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              | yes
| New Feature?      | no
| Framework

[2022-10-06 09:21] Messhias commented on #193
Please share you config file.

[2022-10-06 09:29] djurovicigoor commented on #193
[jwt.php](https://gist.github.com/djurovicigoor/f1f3224262c725f0857c3ab7b6dc0836)

[2022-10-06 09:32] djurovicigoor commented on #193
Not sure what happened there, because I want to use the same API route for mobile and web calls, and that works fine.
I have this peace of code in my Authenticate middleware to set the default guard.

`		if (empty($guards)) {
			if ($request->wantsJson()) {
				$guards = ['api'];
			} else {
				$guards = [NULL];
			}
		}
`

[2022-10-24 03:47] rizal1919 commented on #178
Hi its still cannot work for me

[2022-11-28 11:00] fengerwoo opened #195 "User failed to transfer to token"
### Subject of the issue
User failed to transfer to token

### Your environment:
| Q                 | A
| ----------------- | ---
| Bug?              |  yes
| New Feature?      | no
| Framework         | Laravel
| Framework version | 9.33.0
| Package version   | 2.0.0
| PHP version       | 8.1.9

### Steps to reproduce

[code]
The user failed to transfer to token. The specific error is reported
[

[2022-11-28 12:35] Messhias commented on #195
Question: did that happen outside the thinker environment too (eg. Web)?

[2022-11-28 12:37] Messhias commented on #193
You're using the guard for API otherwise it'll be fallback to null, can you try to define both guards on if/else?

Thank you :)

[2022-11-28 12:38] Messhias commented on #183
Did you solve the issue?

[2022-11-28 13:43] fengerwoo commented on #195
Yes, so does the web

[2022-11-30 09:48] Messhias commented on #195
I did same as you and worked as well, @eschricker did that happens to you too?

[2022-11-30 09:52] eschricker commented on #195
I don't need to pass `['sub' => $this->id]` as custom claim.

I can't reproduce this error.